h1 {
	color: white;
	font-family: Helvetica;
}

body {
	background-color: #89C8A9;
}

img {
  width: 100%; /* takes the 100 % width of its container (.box div)*/
  height: 100%; /* takes the 100 % height of its container (.box div)*/
}

.titleImage {
	border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

br {
	height: 20px;
}
a {
	text-decoration: none;
	color: white;
}

a:hover{
	text-decoration: none;
	color: white;
}

hr {
	border: 4;
  border-top: 3px black;
}

@media (max-width: 1000px) {
      .show-mobile {
        display: block;
      }
      .hide-mobile {
        display: none;
      }
    }

@media (min-width: 1001px) {
      .show-mobile {
        display: none;
      }
      .hide-mobile {
        display: block;
      }
    }

/*a: link {
	color: white;
}

a: visited {
	color: white;
}*/

.imageBox {
	width: 90%;
	margin: auto;
 	/*height: 200px;*/
 	/*border: 5px dashed #f7a239;*/
}

.clear {
	color: transparent;
}

.altHStack {
	display: inline-flex;
}

.socialIcon {
	height: 40px;
	width: 60px;
	padding-left: 10px;
}

.socialIconMenu {
	height: 30px;
	width: 35px;
	padding-left: 10px;
	padding-bottom: 5px;
}

.infoText {
	width: 90%;
	margin: auto;
	background-image: linear-gradient(#2EEC1E, #507FFF);
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contactButtons {
	text-decoration: underline;
	color: white;
	text-align: left;
	font-family: Helvetica;
	padding: 20px;
	margin: auto;
}

.infoSubtext {
	color: white;
	/*text-align: center;*/
	font-family: Helvetica;
	padding: 20px;
	margin: auto;
}

.infoSubtextLeft {
	color: white;
	/*text-align: center;*/
	font-family: Helvetica;
	padding: 20px;
	margin: auto;
}

.HStack {
	display: inline-flex;
	padding-bottom: 50px;
}

.navBarTitle {
	margin: auto;
	padding-left: 15px;
}

.navBarTitle:hover {
	text-decoration: underline;
}

.socialIcon {
	height: 40px;
	width: 40px;
	padding-left: 10px;
}

.doorhingeapps {
	font-size: 20px;
	font-family: Helvetica;
	font-weight: bold;
}

.doorhingeapps:hover {
	text-decoration: underline;
}

.navTitleStack {
	padding-left: 15px;
	display: grid;


}

.logo {
	height: 50px;
	width: 50px;
}

.centerButtons {
	padding: 20px;
	display: inline-flex;
	margin: auto;
}

.fillButtons {
	padding: 20px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: white;
	padding: 20px;
	font-family: Helvetica;
	background-color: #666;
	border-radius: 15px;
}

.fillButtons:hover{
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	padding: 16px;
	font-family: Helvetica;
	background-color: transparent;
	border-style: solid;
	border-color: #666;
	border-width: 4px;
	border-radius: 15px;
}

.Questions {
	font-family: Helvetica;
	color: white;
	width: 90%;
	margin: auto;
}

.Answers {
	font-family: Helvetica;
	font-weight: normal;
	color: white;
	width: 90%;
	margin: auto;
}

.footer {
	margin: auto;
	text-align: center;
}

.copyright {
	font-family: Helvetica;
	color: white;
}

.gallery {
	width: 60%;
	margin: auto;
}

.hiddendiv {display: none; }
.testA:focus ~ #testA {display: block; }
.testB:focus ~ #testB {display: block; }



/*CSS for Hamburger Menu*/


h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  font-family: Helvetica;
  box-sizing: border-box;
}

li:hover {
	border-width: 4px;
	border-color: white;
	border-radius: 0px;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background-image: linear-gradient(#2EEC1E, #507FFF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 75px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 1200px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 75px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 0.5px solid #444;
    height: 3em;
    padding: 0.85em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #89C8A9;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
