h1 {
	color: white;
	font-family: Helvetica;
}

body {
	background-color: #89C8A9;
}

img {
  width: 100%; /* takes the 100 % width of its container (.box div)*/
  height: 100%; /* takes the 100 % height of its container (.box div)*/
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

br {
	height: 20px;
}
a {
	text-decoration: none;
	color: white;
}

a:hover{
	text-decoration: none;
	color: white;
}

/*a: link {
	color: white;
}

a: visited {
	color: white;
}*/

.imageBox {
	width: 90%;
	margin: auto;
 	/*height: 200px;*/
 	/*border: 5px dashed #f7a239;*/
}

.infoText {
	width: 90%;
	margin: auto;
	background-image: linear-gradient(#2EEC1E, #507FFF);
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.infoSubtext {
	color: white;
	/*text-align: center;*/
	font-family: Helvetica;
	padding: 20px;
	margin: auto;
}

.HStack {
	display: inline-flex;
	padding-bottom: 50px;
}

.navBarTitle {
	
}

.navTitleStack {
	padding-left: 15px;
	display: grid;


}

.logo {
	height: 50px;
	width: 50px;
}

.centerButtons {
	padding: 20px;
	display: inline-flex;
	margin: auto;
}

.fillButtons {
	padding: 20px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: white;
	padding: 20px;
	font-family: Helvetica;
	background-color: #666;
	border-radius: 15px;
}

.fillButtons:hover{
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	padding: 16px;
	font-family: Helvetica;
	background-color: transparent;
	border-style: solid;
	border-color: #666;
	border-width: 4px;
	border-radius: 15px;
}

.Questions {
	font-family: Helvetica;
	color: white;
	width: 90%;
	margin: auto;
}

.Answers {
	font-family: Helvetica;
	font-weight: normal;
	color: white;
	width: 90%;
	margin: auto;
}




